*{
    border-radius: 0 !important;
}
body{
    background: #ebebeb ;
}
#head{
background: #ebebeb;
}
#head form input[type=search]{
    border: 0;
    background-color: #ffffff;
}
#head a{
    margin: 20px 20px 0 0;
}
#head a span{
    top: 5px;
    right: 30px;
    color: #5b169e;
    font-size: 20px;
}
#head img{
    position: relative;
    right: -25px;
}
.nav2{
    background: none;
    border: none;

}
.nav2 ul{
    position: relative;
    top: 30px;
}
.nav2 li{
    border: none;
    color: rgba(255,255,255,1);
    text-align: center;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0, #e7e7e7 100%);
    background-position: 50% 50%;
    box-shadow: 0 5px 0 0 #6017a3 ;
    border-left: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
    transition: all .5s;
}
#head .nav2 li a span{
    color: #c5c5c5 ;
    font-size: 40px;
    padding-left: 55px;
}
#head .nav2 li:hover {
    transform: scale(1.15);
    transition: all .5s;
    position: relative;
    z-index: 999999;
    box-shadow: 0 7px 0 0 #6017a3 ;
}#head .nav2 li:hover span{
    color: purple;
     transition: all .5s;
 }